.container
    border-radius: 16px
    overflow: hidden
    width: 128px
    height: fit-content
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
    cursor: pointer

.container:active
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)

img
    aspect-ratio: 1 / 1
    width: 128px
    border-radius: 16px
    overflow: hidden

p
    width: 100%
    text-align: center
    word-break: break-word
    margin-top: 2px
    margin-bottom: 2px

