section
    //border: 1px solid red
    height: 100vh
    box-sizing: border-box
    padding: 5mm

p
    font-weight: 500

.order-line
    display: flex
    justify-content: space-between
    padding: 8px
    border-bottom: 1px solid #ddd